body{
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px #000;
    margin: 30px;
    background-color: #000;
}
h2{
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px #000;
}
b{
    color: rgb(255, 255, 255);
    text-shadow: 10px 10px 10px #000;
    margin: 25px;
}

